@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}


<div class="container-fluid">
    <div class="row" style="margin-top:50px">
        <div class="col-md-12">
            <div class="col-md-6 mx-auto">
              
                <h1 class="mb-4">Restoranımıza <i class="fa fa-utensils text-primary me-2"></i>Hoşgeldiniz</h1>
                <p class="mb-4"><i>Hergün sizler için en lezzetli menülerimizi hazırlıyor ve sizlere hizmet etmenin mutluluğunu yaşıyoruz.</i></p>
                <p class="mb-4"><i>My Restaurant ailesi olarak kaliteli ürün ve kaliteli hizmet anlayışımızı hep yukarı taşımaya çalışıyoruz.<br /><br />Lezzetlerimizle tanışmanız için sizleri bekliyoruz :) </i></p>
            </div>
        </div>
    </div>
</div>
