@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<style>
    .contacts {
        font-style: italic;
    }
</style>
<div class="container-fluid">
    <div class="row" style="margin-top:50px">
        <div class="col-md-12">
            <div class="col-md-6 mx-auto">
                <div class="contacts">
                <h1 class="mb-4">Şubelerimiz Hizmetinizde</h1>
                <h4>Kadıköy</h4>
                <p>Feneryolu Mahallesi,Harika Sokak No:1</p>
                <p>Tel:(216) 111 11 11</p>
                <br />
                <h4>Ataşehir</h4>
                <p>İçerenköy Mahallesi,Lezzet Sokak No:2</p>
                <p>Tel:(216) 222 22 22</p>
                <br />
                <h4>Üsküdar</h4>
                <p>Beylerbeyi Mahallesi,Burada sokak No:3</p>
                <p>Tel:(216) 333 33 33</p>
                <br />
                <br />
                <h6><i>Email : MyRestaurant34@outlook.com</i></h6>
                </div>
            </div>
        </div>
    </div>
</div>
