
@{
    ViewData["Title"] = "Test1";
    Layout = "~/Areas/Manager/Views/Shared/_Layout.cshtml";
   
}

<h1>Test1</h1>


<form method="get" action="/manager/customer/Test2">
    <input type="datetime-local" name="testdate" />
    <button type="submit">Göster</button>
</form>



