@model List<TableOfRestaurant>
@{
    ViewData["Title"] = "SelectTable";
    Layout = "~/Areas/Manager/Views/Shared/_Layout.cshtml";
}

@foreach (var item in Model)
{
    <div style="width:80px;height:80px">
    <a href="/manager/orderitem/selectproduct/@item.Id"><button class="btn btn-outline-primary">@item.TableName</button></a>
    </div>
}

