
<div class="row" style="margin-left:60px">

    <div class="col-md-2">
        <button class="btn btn-outline-primary btn-lg category-button" onclick="showAllLocations()">Tümü</button>
    </div>

    <div class="col-md-2">
        <button class="btn btn-outline-primary btn-lg category-button" onclick="filterTables('Cam-Kenarı')">Cam-Kenarı</button>
    </div>
    <div class="col-md-2">
        <button class="btn btn-outline-primary btn-lg category-button" onclick="filterTables('Salon')">Salon</button>
    </div>
    <div class="col-md-2">
        <button class="btn btn-outline-primary btn-lg category-button" onclick="filterTables('Bahçe')">Bahçe</button>
    </div>

</div>