<div class="toolbar">
    <a href="/manager/Accounting"><button class="btn btn-outline-info">Muhasebe Anasayfa</button></a>
    <a href="/manager/Accounting/cashtracking"><button class="btn btn-outline-info">Kasa Takip</button></a>
    <a href="/manager/invoice"><button class="btn btn-outline-success">Fatura Listesi</button></a>
    <a href="/manager/supplier/index"><button class="btn btn-outline-success">Tedarikçi</button></a>
    <a href="/manager/Accounting/Debit"><button class="btn btn-outline-success">Borçlar</button></a>

</div>