@model Order2
@{
    ViewData["Title"] = "AddOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
 
}

<div class="row">
    <div class="col-md-9">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Ürün Adı</th>
                    <th>Birim Fiyat</th>
                    <th>
                        Adet
                    </th>
                    <th>Ara Toplam</th>
                </tr>
            </thead>
            <tbody>
                <!--Sepetteki ürünlerin listelenmesi-->
                @foreach (var item in Model._item)
                {
                   
                    <tr>
                        <th>@item.Value.ProductName</th>
                        <th>@item.Value.Price</th>
                        <th class="d-flex">
                            <input type="number" value="@item.Value.Quantity" class="form-control" />
                            <button class="btn btn-sm btn-warning">Güncelle</button>
                        </th>
                        <th>
                            @item.Value.Subtotal

                            <button class="btn btn-sm btn-danger">Sil</button>
                        </th>

                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-body text-center">
                <span>Ödemeniz gereken toplam tutar</span>
            

                <a asp-action="Index" asp-controller="Home" class="btn btn-outline-info">Alışverişe Devam Et</a>
                <a asp-action="CompleteCart" asp-controller="Home" class="btn btn-primary">Ödeme Yap</a>

            </div>
        </div>
    </div>
</div>
