@model List<DishCategory>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Manager/Views/Shared/_Layout.cshtml";
}

<div class="container" style="margin-left:50px">
    <h2>Yemek Kategori Listesi</h2>
    <h2><a href="/manager/dishcategory/create"><button class="btn btn-outline-success">Ekle</button></a></h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Kategori Adı</th>
                
            </tr>
        </thead>
        @foreach (var item in Model)
        {


            <tr>
                <td>@item.Id</td>
                <td>@item.CategoryName</td>
              
                <td>
                    <a href="/manager/dishcategory/update/@item.Id"><button class="btn btn-outline-primary">Güncelle</button></a>
                    <a href="/manager/dishcategory/remove/@item.Id"><button class="btn btn-danger">Sil</button></a>


                </td>



            </tr>


        }

    </table>

</div>
