@model List<UserVM>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Manager/Views/Shared/_Layout.cshtml";
}

@* <a class="btn btn-primary" asp-controller="user" asp-action="Create" asp-area="Manager">Kullanıcı Ekle</a> *@

<div class="container" style="margin-left:50px">

    <h2><a href="/manager/user/Create"><button class="btn btn-outline-success">Ekle</button></a></h2>
    <table class="table table-bordered">
        <thead>
            <tr>

                <th> Id</th>
                <th>Kullanıcı Adı</th>
                <th>Email</th>
                <th>Roller</th>


            </tr>
        </thead>
        @foreach (var item in Model)
        {


            <tr>

                <td>@item.Id</td>
                <td>@item.UserName</td>
                <td>@item.Email</td>
                <td>
                    @if (item.Roles != null && item.Roles.Any())
                    {
                        
                        foreach (var role in item.Roles)
                        {
                            <span style="color:darkgoldenrod">#@role</span>

                            <br />

                            
                        }
                    }
                </td>


                <td>
                    <a href="/manager/user/update/@item.Id"><button class="btn btn-outline-primary">Güncelle</button></a>
                    <a href="/manager/user/remove/@item.Id"><button class="btn btn-danger">Sil</button></a>
                    <a href="/manager/role/assignrole/@item.Id"><button class="btn btn-info">Rol Ata</button></a>

                </td>



            </tr>


        }

    </table>

</div>

