
@{
    ViewData["Title"] = "CashTracking";
    Layout = "~/Areas/Manager/Views/Shared/_Layout.cshtml";
}

<form method="get" action="/manager/Accounting/reportofturnover">
    <input type="number" name="targetYear" placeholder="Year" />
    <input type="number" name="targetMonth" placeholder="Month" />
    <button class="btn btn-info" type="submit">Göster</button>
</form>

<h1>CashTracking</h1>

