
@{
    ViewData["Title"] = "Debit";
    Layout = "~/Areas/Manager/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_ToolbarPartialView")
<div class="container" style="margin-left:50px">
    

    <h2>Borç Listesi</h2>
  
    <table class="table table-bordered" id="dataTable">
        <thead>
            <tr>
                <th>Şirket Adı</th>
                <th>Toplam Borç</th>
               

            </tr>
        </thead>
        <tbody>
        </tbody>
       

    </table>
    <h3 id="totalDebit"></h3>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<script src="~/js/Area/Accounting/totalDebits.js"></script>
