@model EmployeeVM
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Manager/Views/Shared/_Layout.cshtml";
}


<div class="container" style="margin-top:40px">
<div class="row justify-content-center">
<div class="col-md-4">

            <h1>employee Create</h1>
        <form  method="post">
       <div class="form-group">
           <label asp-for="Name"></label>
           <input asp-for="Name" class="form-control"/>
           <span asp-validation-for="Name" class="text-bg-danger"></span>

       </div>
            <div class="form-group">
                <label asp-for="Surname"></label>
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-bg-danger"></span>

            </div>
                <div class="form-group">
                    <label asp-for="Title"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-bg-danger"></span>

                </div>
            
            <div class="form-group">
                <label asp-for="Phone"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-bg-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="TcNo"></label>
                <input asp-for="TcNo" class="form-control"  />
                <span asp-validation-for="TcNo" class="text-bg-danger"></span>

            </div>
                <div class="form-group">
                    <label asp-for="Notes"></label>
                    <input asp-for="Notes" class="form-control" />
                    <span asp-validation-for="Notes" class="text-bg-danger"></span>

                </div>
            <div class="text-center">
               
                <button type="submit" class="btn btn-primary" style="margin-top:10px">Create</button>
            </div>
          
    </form>
</div>
</div>
</div>
