@model GoogleRegisterVM
@{
    ViewData["Title"] = "GoogleRegister";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>GoogleRegister</h1>

<form asp-action="GoogleRegister" asp-controller="Auth" method="post">
    <div class="col-md-6">
        <div>
            <span>Username</span>
            <input type="text" asp-for="UserName" class="form-control" />
        </div>
        <div>
            <span>Email</span>
            <input type="text" asp-for="Email" class="form-control" />
        </div>
        <button class="btn btn-primary">Register</button>
    </div>
</form>